.footer {
  background-color: black;
  color: white;
  text-align: center;
}

.footer__accounts {
  padding: 3rem;
}
.footer__accounts__follow {
  padding: 1rem;
}

.footer__copyright {
  padding: 1rem;
  background-color: #222;
}

[class*="fa"] {
  font-size: 3rem;
  margin: 0 1rem;
}
.fa-twitter {
  color: #4fabf1;
}
